@import url("https://fonts.googleapis.com/css2?family=Gaegu&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
  font-family: "Gaegu", sans-serif;
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section {
  margin-top: 35%;
}

/* footer빼고 전체 */
.container {
  margin: 2%;
}

/* 로고 */
.logo {
  background-color: rgb(221, 242, 249);
  font-size: 35px;
  display: block;
  color: rgb(253, 83, 83);
  position: fixed;
  margin-left: -42%;
  margin-top: 25px;
  text-decoration: none;
}

/* home icon */
.home-icon1 {
  padding: 0;
}

.home-icon2 {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  height: 50px;
}

.home-icon1 p {
  display: none;
}

.home-icon1:hover p {
  display: flex;
}

/* aside: list*/
aside {
  position: fixed;
  top: 100px;
  left: 70px;
  overflow-y: auto;
  padding-top: 200px;
}

.list {
  list-style: none;
  display: flex;
  font-size: 35px;
  margin-bottom: 50px;
}

.list a {
  text-decoration: none;
}

/* list text */
.list p {
  margin-left: 12px;
  display: none;
  font-size: 17px;
  color: rgb(255, 100, 126);
  margin-top: 10px;
}

.list:hover p {
  display: flex;
}

/* section1: home-text */
#home {
  /* margin-top: 30%; */
  font-size: 30px;
}

.home-img {
}

.home-text {
}

/* section2: intro 그냥 소개 */
#intro {
  /* margin-top: 70%; */
}

#intro img {
  width: 150px;
  height: 150px;
  border-radius: 70%;
  border: 3px solid rgba(178, 177, 230, 0.652);
  margin-bottom: 30px;
}

.intro-text {
  font-size: 18px;
}

/* section3: about me (tmi) */
#about-me {
}

.about-me-text {
  font-size: 20px;
}

.question {
  font-size: 15px;
  color: rgb(111, 111, 161);
  font-weight: bold;
}

/* section4: favorites */
#favorites {
}

.favorite-things {
  font-size: 23px;
}

.favorite-time-image {
}

.favorite-char {
}

/* section5: 루시 */
#lovely-cat {
}

.cat {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.imLucy {
  width: 90px;
  height: 90px;
  border-radius: 100px;
  margin-top: 20%;
}

.lucy-img {
  width: 200px;
  height: 200px;
  border: 5px solid rgb(255, 255, 188);
  border-radius: 50px;
  align-items: center;
}

.lucy-text {
  color: rgb(245, 164, 164);
  font-weight: 20%;
  text-align: center;
  font-size: 16px;
}

/* footer */

footer {
  bottom: 0;
  width: 100%;
  background-color: rgb(253, 248, 248);
  padding: 10px;
}

footer li {
  text-align: center;
  font-size: 13px;
  list-style: none;
}

footer ul {
  margin: 10px 0px 10px 0px;
  color: gray;
}

footer ul li a {
  text-decoration: none;
  color: rgb(246, 137, 155);
}
